{% extends 'base.html' %}
{% block  head %}
<title> Wellcome </title>
{% endblock %}

{% block body %}
<!--banner-->
<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
<div class="content text-center">
<div class="card text-center bg-info mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">kingsart</h5>
    <p class="card-text">Wellcome to kingsart.<br>Home of Art</p>
    <a href="{{url_for('login')}}" class="btn btn-primary">Join</a>
  </div>
</div>

</div>
</div>
<!--main content area-->
<div class="container my-5 d-grind gap-5">
<div class="p-5 boarder"> 
<p>
Wellcome to kingsart site.
this is where i have my arts.
</p>
</div>
<div class="p-5 boarder"> 
<p>
Wellcome to kingsart site.
this is where i have my arts.
</p>
</div>
<div>
<!--my_footer-->









{% endblock %}}